APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=ar
APP_FALLBACK_LOCALE=ar
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=crazyideacompany@gmail.com
MAIL_PASSWORD="zkfdfezoawinakof"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="crazyideacompany@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


MS_BASE_URL = https://api.100ms.live/v2/
MS_APP_KEY=66582e9ed36830c2c67d6ec7

MS_APP_SECRET=Qp3VXvSkC3NfKaHUhlkGEk1ciiUcKAqqERe4wG9sj7V-rCQvdV3GXr1HiUKXW9kEVPEI0OtahWJNdenmErq5-Bqx2NI4mpJ_FLnR7vRmsi8pl58xbN1cgVgz9ul6Xk7gdnXOaMCrhNMpSmz7jnWOykLyGZFyWECNe6kaUZmkhNI=
MS_APP_MANAGEMENT_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3MzAxOTE2MjIsImV4cCI6MTczMDc5NjQyMiwianRpIjoiODM4ZmRkMjEtMTYyYy00OWJmLWFkYzMtOWQ3NmY1MGQ4Mzg0IiwidHlwZSI6Im1hbmFnZW1lbnQiLCJ2ZXJzaW9uIjoyLCJuYmYiOjE3MzAxOTE2MjIsImFjY2Vzc19rZXkiOiI2NjU4MmU5ZWQzNjgzMGMyYzY3ZDZlYzcifQ.Lm-ptTgTJVnOWkjV1sBniNZzpGZSzULFwO7CNnnbToU
